.mySwiper2 {
  width: 100%;
  border-radius: 10px;
}

.mySwiper2 .swiper-button-prev,
.mySwiper2 .swiper-button-next {
  color: rgba(255, 255, 255, 0.666);
}

.mySwiper2 .swiper-button-prev:hover,
.mySwiper2 .swiper-button-next:hover {
  color: #fefefe;
}

.mySwiper2 .swiper-slide {
  overflow: hidden;
  border-radius: 10px;
}

.mySwiper2 .swiper-slide.swiper-slide-active .product_card {
  @media (max-width: 1199px) {
    transform: scale(1.05);
    transition: all 1000ms, filter 1000ms ease-in-out;
    filter: brightness(100%);
  }
}

.mySwiper2 .swiper-slide.swiper-slide-next .product_card {
  @media (min-width: 768px) and (max-width: 1199px) {
    transform: scale(1.05);
    transition: all 1000ms, filter 1000ms ease-in-out;
    filter: brightness(100%);
  }
}

.mySwiper2 .swiper-wrapper {
  z-index: -1;
}
